// Color Variables //

$font-color-primary: #777;
$headline-primary-color: #58e1c1;
$default-btn-color: #51ddfc;
$error-btn-color: #e4757a;
$info-btn-color: #927bc1;
$success-btn-color: #63cc82;
$warning-btn-color: #fd7856;

// Media Query Breakpoints //

$break-768px: '(min-width: 768px)';